In [15]:
import dill as pickle
import pandas as pd

def load_model(path):
    with open(path,'rb') as f:
        print(path)
        model = pickle.load(f)
        print('Yes')
    return(model)

def classify_passenger(model, data):
    df = pd.read_json(data)
    pred = model.predict(df)
    return(pred)

In [16]:
model = load_model(path='/Users/kevin/Desktop/Personal-Learning/Django-Titanic/titanic_api/api/titanic_model.pickle')

/Users/kevin/Desktop/Personal-Learning/Django-Titanic/titanic_api/api/titanic_model.pickle
Yes

/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)
/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.tree.tree module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.tree. Anything that cannot be imported from sklearn.tree is now part of the private API.
  warnings.warn(message, FutureWarning)
/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.19.1 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 0.19.1 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator Pipeline from version 0.19.1 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [18]:
model.predict(data)

NameError: name 'data' is not defined

In [9]:
with open('/Users/kevin/Desktop/Personal-Learning/Django-Titanic/titanic_api/api/titanic_model.pickle', 'rb') as pickle_file:
    content = pickle.load(pickle_file)

ModuleNotFoundError: No module named 'dill.dill'

In [8]:
pickle.load('/Users/kevin/Desktop/Personal-Learning/Django-Titanic/titanic_api/api/titanic_model.pickle')

TypeError: file must have 'read' and 'readline' attributes

In [19]:
data = pd.read_csv('/Users/kevin/Desktop/Personal-Learning/Django-Titanic/titanic_test.csv').drop('PassengerId', axis = 1)

In [20]:
data

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [29]:
model.predict(X=pd.DataFrame(data.values, columns=data.columns))

AttributeError: 'DataFrame' object has no attribute 'as_matrix'

In [28]:
pd.DataFrame(data.values)

,0,1,2,3,4,5,6,7,8,9
0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,NaN,S
2,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,NaN,Q
3,3,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,NaN,S
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.05,NaN,S
414,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9,C105,C
415,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.25,NaN,S
416,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.05,NaN,S
417,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C